<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
</head>
<body>
<h1><%= message %></h1>
</body>
</html>
=======

<body>
<h1><%= message %></h1>
</body>
</html>
>>>>>>> 74cf08f964e3de27c8f9923d52b7d7228df1f535
