<!DOCTYPE html>

<html lang = "en">
  <head>
    <%-include('./partials/head'); %>  
  </head>
  <body>
    <!--Navigation bar-->
    <%- include('./partials/navbar'); %>
  </body>
  <%- include('./partials/script'); %>
</html>
