<!DOCTYPE html>

<html>
  <head>
    <title>kharido.com</title>
    <!-- <style>
      #nav-placeholder {
        background-color: aqua;
      }
    </style> -->
    <%- include('./navbar.ejs'); %>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <div id ="background"></div>
    <h1></h1>
    <img src="public/images/cropped-NAVBAR-LOGO-04.png" alt="Navbar_logo" width="188"
    height="40">
    <div id="name" class="name">
        
    </div>
  </body>
</html>
