<!DOCTYPE html>

<html lang = "en">
  <head>
    <%- include('./partials/head'); %>
      
  </head>
  <body>
    <!--Navigation bar-->
    <%- include('./partials/navbar'); %>
    <form action="" id="login-form">
        <input type="text" name="" id = "username" placeholder="Username" />
        <input type="text" name="" id = "email" placeholder="Email" />
        <input type="password" name="" id="password" placeholder="Password" />
        <input type="text" name="" id = "Re-enter password" placeholder="Re-enter password" />
        <input type="submit" value="Submit Form">
    </form>
  </body>
  <%- include('./partials/script'); %>
</html>