.nav1 {
    width: 80%;
    margin-top: -20;
    margin-left: 0;
    background: #55d6aa;
    float: right;
}

.nav1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav1 li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 10px;
    position: relative;
}

.nav1 a {
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav1 a:hover {
    color: #000;
}

.nav1 a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top:0;
    width: 0%;
}

.nav1 a:hover::before {
    width: 100%;
}

<<<<<<< HEAD
.container {
    padding: 16px;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

=======
>>>>>>> b43d6b6937031ee5e541f982d7a610fba34bd267
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
<<<<<<< HEAD
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
=======
  }
  
input[type=text]:focus, input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

.container {
    border: 1px solid #f1f1f1;
>>>>>>> b43d6b6937031ee5e541f982d7a610fba34bd267
}

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
<<<<<<< HEAD
  }
=======
}
>>>>>>> b43d6b6937031ee5e541f982d7a610fba34bd267
